.cart{
    margin:20px;
    padding:10px;
}

/* .cart section{
    margin-bottom: 10px;
    padding: 20px;

} */





.cart aside>div,
.cart section>div{
    background-color: var(--white);
    margin-bottom: 20px;
    padding: 20px;

}

.cart section div b{
    font-size: var(--fs-lg) ;
}

.cart section input[type=checkbox] {
    height: 13px;
    width: 13px;
    vertical-align: top;
    position: relative;
    bottom: -2px;
}

.cart section select{
    height: 29px;
    width: 77px;
    background-color: var(--gray);
    font-size: var(--fs-sm);
    text-align: center;
    font-weight: 4px;


}

#vazio {
    background-color: var(--white);
    margin-bottom: 20px;
    padding: 20px;
    margin-left: 12px;
    width: 943px;
    height: 74px;
}

.cart aside button{
    height: 29px;
    width: 265px;
    text-align: center;
}