.cart{
    margin:20px;
    padding:10px;
}

/* .cart section{
    margin-bottom: 10px;
    padding: 20px;

} */





.cart aside>div,
.cart section>div{
    background-color: var(--white);
    margin-bottom: 20px;
    padding: 20px;

}

.cart section div b{
    font-size: var(--fs-lg) ;
}

.cart section input[type=checkbox] {
    height: 13px;
    width: 13px;
    vertical-align: top;
    position: relative;
    bottom: -2px;
}

.cart section select{
    height: 29px;
    width: 77px;
    background-color: var(--gray);
    font-size: var(--fs-sm);
    text-align: center;
    font-weight: 4px;


}

#vazio {
    background-color: var(--white);
    margin-bottom: 10px;
    padding: 10px;
    margin-left: 10px;
    width: 943px;
    height: 74px;
}

.cart aside button{
    height: 29px;
    width: 260px;
    text-align: center;
}

@media (max-width:760px) {
    
    .cart aside button{
        height: 100%;
        width: 100%;
        text-align: center;
        
    }
}

.star{
    border-color: #e07c22;
    color: #FFA41C;

}

.bt{

    height: 22px !important;
    width: 121px;
    text-align: center;
    border-radius: 10px;
    border-style: none;

}